body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 60%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
}

.img-profile {
    cursor: pointer;
    margin-right: 10px;
}

.profile-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #f1f1f1;
    padding: 10px;
    display: none;
}

.category {
    display: block;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    float: left;
    width: 10%;
    height: 400px;
}

.category-list {
    display: flex;
    overflow-x: auto;
    flex-direction: column;
}

.category-list-item {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    cursor: pointer;
}

.category-list-item.active {
    background-color: #aaa;
    color: #fff;
}

.main-content {
    padding: 20px;
    background-color: #ffffff;
    float: right;
    width: 70%;
    height: 400px;
}

.nav-bar {
    position: fixed;
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    clear: both;
}

.nav-bar-item {
    cursor: pointer;
}